# 会话秘钥
SESSION_SECRET=

# 系统默认语言
GO_TECH_LANGUAGE=

# 系统默认时区
GO_TECH_TIMEZONE=
# 服务端请求代理
API_INTERNAL_URL=
# 客户端请求代理
NEXT_PUBLIC_API_URL=
# pms后台地址
NEXT_PUBLIC_TRIAL_HOST=
# 控制 kpay 显示
NEXT_PUBLIC_KPAY_ENABLE=
# KPay 全托管收银台 Web 收银台地址
NEXT_PUBLIC_KPAY_CASHIER_URL=

# 日志服务资源token
NEXT_PUBLIC_BETTERSTACK_SOURCE_TOKEN=
# 日志服务报告地址
NEXT_PUBLIC_BETTERSTACK_INGEST_URL=

# alibaba | deepl | google | openai
TRANSLATION_PROVIDER=

# DeepL 翻译 API 密钥
DEEPL_API_KEY=

# Google Cloud Translation API 密钥
GOOGLE_TRANSLATE_API_KEY=

# 千问
QIANWEN_API_KEY=
QIANWEN_MODEL_NAME=

DATABASE_URL=

# 平台jwt密钥
PLATFORM_JWT_SECRET=

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# feedback-ai 认证秘钥
FEEDBACK_AI_INTERNAL_TOKEN=
